@using Eleven95.TruckBites.Services.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

   <AuthorizeView>
    <Authorized>
        <div>
            <strong>User Info</strong>
            <ul>
                @foreach (var claim in (AuthState?.User.Claims ?? []))
                {
                    <li>
                        <strong>@claim.Type: </strong>
                        <span>@claim.Value</span>
                    </li>
                }
            </ul>
            <a href="/account/logout">Logout</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/account/login">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState>? GetAuth { get; set; }

    private AuthenticationState? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (GetAuth != null)
        {
            AuthState = await GetAuth;
        }
    }

}