@using Microsoft.AspNetCore.Components.Authorization
@using Eleven95.TruckBites.WebApp.Client.Components
@inherits LayoutComponentBase

<MainLayoutHeader/>
<main>
    @Body
</main>
<MainLayoutFooter/>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>