@using Eleven95.TruckBites.Services.Interfaces
@page "/"

@inject IFoodTruckAdminService FoodTruckAdminService

<PageTitle>Home</PageTitle>

<h1>Home</h1>

@if (FoodTrucks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var foodTruck in FoodTrucks)
        {
            <li><a href="/foodtrucks/@foodTruck.FoodTruckId">@foodTruck.DisplayName</a></li>
        }
    </ul>
}

@code {


    [PersistentState] public List<Data.Models.FoodTruck>? FoodTrucks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        FoodTrucks ??= await FoodTruckAdminService.GetFoodTrucksAsync();
    }

}