@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@layout EmptyLayout
@page "/account/logged-out"

<h2>LoggedOut</h2>
<p>You have been logged out of the Vendor app.</p>
<ul>
    <li><a href="/account/login">Login as a vendor</a></li>
    <li><a href="/">Login as a customer</a></li>
</ul>