name: Trigger auto deployment for truckbites-customer-webapp

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/deploy-truckbites-customer-webapp.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.TRUCKBITESVENDORWEBAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.TRUCKBITESVENDORWEBAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.TRUCKBITESVENDORWEBAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: Eleven95.TruckBites.WebApp/Eleven95.TruckBites.WebApp/Dockerfile
          registryUrl: eleven95truckbites.azurecr.io
          registryUsername: ${{ secrets.TRUCKBITESVENDORWEBAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.TRUCKBITESVENDORWEBAPP_REGISTRY_PASSWORD }}
          containerAppName: truckbites-customer-webapp
          resourceGroup: TruckBites
          imageToBuild: eleven95truckbites.azurecr.io/truckbites-customer-webapp:${{ github.sha }}





