@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
    <h1>TruckBites Vendor App</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/account/settings">Account Settings</a></li>
            <a href="/account/logout">Logout</a>
        </ul>
    </nav>
    <strong>User Info</strong>
    <ul>
        @foreach (var claim in (AuthenticationState?.User.Claims ?? []))
        {
            <li>
                <strong>@claim.Type: </strong>
                <span>@claim.Value</span>
            </li>
        }
    </ul>
</header>
<main>
    @Body

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</main>
<footer>

</footer>

@code {

    public AuthenticationState? AuthenticationState { get; set; }

    [CascadingParameter] public Task<AuthenticationState>? GetAuth { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (GetAuth != null) AuthenticationState = await GetAuth;
    }

}